:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* =====================================================================HEADER======================================================================================= */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 93px;
}

.header-items {
  display: flex;
  flex-wrap: space-around;
  flex-direction: row;
  gap: 50px;
}

.header-list-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.header-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-stydi {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-email {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-number {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}

/* =====================================================================MAIN======================================================================================= */
.small {
  background: #2f303a;
  height: 600px;
}

.small-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-item {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.btn {
  border-radius: 4px;
  width: 216px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;
}
